body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body{
    overflow-x: hidden;
}

.menuTitre{
    text-align: center;
    font-size: 26px;
}

.menuBody{
    margin: 20px;
}

.titreMoyen{
    font-size: 16px;
}

.bigText{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.smallText{
    font-size: 10px;
}

.screenCenteredText{
    position: absolute;
    height: 100%;
    width: 100%;
    align-content: center;
}


/* Les images pouvant être "scrollé" de gauche à droite */
.carousel{
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
    overflow: auto;
    width: 100vw;
    padding: 0px;
    margin: 10px 0px 4px 0px;
}
.carousel > li{
    scroll-snap-align: start;
    list-style-type: none;
    padding-right: 20px;
    text-align: center;
    position: relative;
}
.carousel{ /* Cacher scrollbar pour Edge, Firefox et InternetExplorer */
    -ms-overflow-style: none; /* Edge et InternetExplorer*/
    scrollbar-width: none; /* Firefox */
}
.carousel::-webkit-scrollbar{ /* Cacher scrollbar pour Chrome, Safari et Opera */
    display: none;
}


/* Les coeurs pour mettre en favori */
.favoriteCheckbox{
    display: none;
}
.favoriteHeart{
    content: url(../assets/favoriteHeart.png);
    position: absolute;
    margin-top: 4%;
    margin-left: 66%;
}
.favoriteHeart:hover{ /* Peut être à enlever */
    content: url(../assets/favoriteHeartFull.png);
}
.favoriteCheckbox:checked + label > .favoriteHeart{
    content: url(../assets/favoriteHeartFullRed.png);
}


.textField{
    /* color: black; */
    width: 100%;
    height: 28px;
    padding: 0px 8px 0px 8px;
    margin: 8px 0px 8px 0px;
    border-radius: 12px;
    border: 1px solid black;
    box-sizing: border-box;  
}
.textField:focus{
    outline: 1px solid #BA30F7;
    border: 1px solid #BA30F7;
}
.selectField:invalid{
    color: gray;
}
.selectField > option{
    color: black;
}


/* Boutons verts */
.textButton{
    position: absolute;
    right: 50%;
}
.textButton > button{
    right: -50%;
    position: relative;
    border: none;
    border-radius: 100vw;
    background-color: #4AFC79;
    width: 51vw;
    min-width: 100px;
    max-width: 200px;
    padding: 0.50em 14px;
    cursor: pointer;
    isolation: isolate;
    overflow: hidden;
}
.textButton > button:hover{
    background-color: rgb(115, 253, 153);
}

/* Les toggle switchs */
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    outline: 2px solid black;
    outline-offset: -8px;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}
/* input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
} */
input:checked + .slider:before {
    background-color: #4AFC79;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}