body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body{
    overflow-x: hidden;
}

.menuTitre{
    text-align: center;
    font-size: 26px;
}

.menuBody{
    margin: 20px;
}

.titreMoyen{
    font-size: 16px;
}

.textePetit{
    font-size: 10px;
}

.carousel{
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
    overflow: auto;
    width: 100vw;
    padding: 0px;
    margin: 10px 0px 4px 0px;
}
.carousel > li{
    scroll-snap-align: start;
    list-style-type: none;
    padding-right: 20px;
    text-align: center;
    position: relative;
}
.carousel{ /* Cacher scrollbar pour Edge, Firefox et InternetExplorer */
    -ms-overflow-style: none; /* Edge et InternetExplorer*/
    scrollbar-width: none; /* Firefox */
}
.carousel::-webkit-scrollbar{ /* Cacher scrollbar pour Chrome, Safari et Opera */
    display: none;
}

.favoriteCheckbox{
    display: none;
}
.favoriteHeart{
    content: url(../assets/favoriteHeart.png); /* favoriteHeart */
    position: absolute;
    margin-top: 4%;
    margin-left: 66%;
}
.favoriteHeart:hover{
    content: url(../assets/favoriteHeartFull.png); /* favoriteHeartFull */
}
.favoriteCheckbox:checked + label > .favoriteHeart{
    content: url(../assets/favoriteHeartFullRed.png);

}

.chooseImage{
    height: 125px;
    width: 110px;
    border-radius: 15px;
    object-fit: cover;
}

.textField{
    /* color: black; */
    width: 100%;
    height: 28px;
    padding: 0px 6px 0px 6px;
    margin: 8px 0px 8px 0px;
    border-radius: 12px;
    border: 1px solid black;
    box-sizing: border-box;  
}
.textField:focus{
    outline: 1px solid #BA30F7;
    border: 1px solid #BA30F7;
}

.textButton{
    position: absolute;
    right: 50%;
}
.textButton > button{
    right: -50%;
    position: relative;
    border: none;
    border-radius: 100vw;
    background-color: #4AFC79;
    width: 51vw;
    min-width: 100px;
    max-width: 200px;
    padding: 0.50em 2em;
    cursor: pointer;
    isolation: isolate;
    overflow: hidden;
}
.textButton > button:hover{
    background-color: rgb(115, 253, 153);
}