.homeButton{
    text-align: center;
}

.homeButton > button{
    position: relative;
    border: 3px solid black;
    border-radius: 100vw;
    background-color: white;
    width: 60vw;
    min-width: 100px;
    /* max-width: 200px; */
    padding: 0.50em 2em;
    margin-bottom: 15px;
    cursor: pointer;
    isolation: isolate;
    overflow: hidden;
}
.homeButton > button:hover{
    background-color: rgb(230, 230, 230);
}
.homeButton > button:active{
    background-color: rgb(200, 200, 200);
}
.homeButton > button:focus{
    background-color: rgb(200, 200, 200);
}