.topShadow{
    background: linear-gradient(black, #ffffff00);
    z-index: 999;
    width: 100%;
    height: 120px;
    position: absolute;
    pointer-events: none; /* permet de cliquer sur la map derrière */
}

.searchBarContainer{
    position: absolute;
    z-index: 1002;
    width: 100%;
    text-align: center;
    pointer-events: none; /* permet de cliquer sur la map derrière */
}
.searchBar > input{
    background: unset;
    pointer-events: auto; /* très important ! */
}